.outer-box-frame {
  border: 0.5rem solid #5f5f61;
  border-radius: 10px;
  margin: 10rem auto;
  padding: 3rem;
  max-width: 55rem;
}

h5 {
  margin: 0px;
}

div#top_card.card.text-center,
div#right_card.card.text-center {
  margin: 5px;
  border: 3px solid orange;
  border-radius: 10px;
  padding: 0px;
}

button.btn-outline-secondary {
  padding: 2px;
  width: 50px;
  height: 20px;
  font-size: 12px;
  text-align: justify;
}

input#search-text-city {
  margin: 0px;
}

div#bottom_card.card.text-center {
  border: 3px solid orange;
  border-radius: 10px;
  margin-top: 5px;
  padding: 0px;
}

div.card-header {
  margin: 0px;
  text-align: center;
  padding: 5px;
  height: 35px;
  background-color: white;
}

div#top_card.card-body,
div#right_card.card-body,
div#bottom_card.card-body {
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.card-city,
.card-temp {
  color: orange;
  font-size: 40px;
  margin: 0px;
}

img#curr-img {
  padding: 0px;
  text-align: right;
  margin: 0px;
}

.temperature-value {
  color: orange;
  font-size: 100px;
}

div#date.card-header {
  margin: 5px;
}

div.humi,
div.win {
  font-size: 12px;
  display: inline-flex;
  color: orange;
}

span#vert-line {
  border-left: solid 1px #70757a;
  margin: 0 4px;
  line-height: 100px;
}

div.col-2 {
  display: block;
  text-align: center;
}

div.source-code {
  text-align: center;
  color: #70757a;
}
